<div>
    <h2 class="title">Expand URL</h2>
    <form id="shorten-form">
        <label for="expand_url">Enter a short URL below</label><br>
        <input id="expand_url" type="text" name="expand_url" /><br><br>
        <button id="btn-submit">
            Expand URL
        </button>
    </form>
</div>

<div>
    <p id="result"></p>
</div>

<script>
    function expandURLEvent() {
        $('#btn-submit').click(function(e){  
            e.preventDefault();
            var expand_url = document.getElementById('expand_url').value;

            $.ajax({ 
                url: '/expand',
                type: 'POST',
                cache: false, 
                data: { url: expand_url }, 
                success: function(data){
                    $('#result').html('The long URL is: ' + data.expand_url);
                    $('#expand_url').val('');
                }
                , error: function(jqXHR, textStatus, err){
                    alert('text status '+textStatus+', err '+err)
                }
            });
        });
            
    }

    (function() {
        expandURLEvent();
    })();

</script>