<html>
<head>
    <title>URL Shortener</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>   
</head>
<body>
    <div class="main-area">
        <header>
            <img src="img/header.png"/>
            <h1>URL Shortener</h1>
        </header>
        <div class="changing-content-area">
            <div class="nav">
                <a href="/">TRENDING URLS
                </a>
                <a href="/shorten">SHORTEN URL
                </a>
                <a href="/expand">EXPAND URL
                </a>
            </div>
            <div style="margin-top: 20px">
                {{{content}}}
            </div>
        </div>
    </div>
</body>
</html>