<html>
<head>
    <title>URL Shortener</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="main-area">
        <header>
            <img src="img/header.png"/>
            <h1>URL Shortener</h1>
        </header>
        <div class="changing-content-area">
            <div class="nav">
                <a href="/">TRENDING URLS
                </a>
                <a href="/shorten">SHORTEN URL
                </a>
                <a href="/expand">EXPAND URL
                </a>
            </div>
            {{{content}}}
        </div>
    </div>
</body>
</html>