body {
    background-image: linear-gradient(to bottom right, red, yellow);
}

.main-area {
    background: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

img {
    width: 85px;
    display: inline-block;
    vertical-align: bottom;
}

header {
    text-align: center;
    padding-top: 30px;
}

header h1 {
    display: inline-block;
    color: orange;
}

body {
    font-family: Papyrus;
}

.nav a:link, .nav a:visited {
    background-color: #808080;
    color: black;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    font-family: Papyrus;
    display: inline-block;
}

.nav a:hover, .nav a:active {
    background-color: grey;
}

.changing-content-area {
    padding: 40px;
}

div .title {
    text-align: center;
}

form {
    width: 90%;
    margin: auto;
}

form input, button {
    width: 100%;
}

form input {
    height: 30px;
    background-color: e3eaed;
    border: none;
}

.form-container {
    background-color: f1f4f6;
    padding: 20px;
    width: 50%;
    margin: auto;
    border-radius: 5px;
}

button {
    color: white;
    background-color: 41c065;
    height: 30;
    border: none; 
    border-radius: 3px;
}

.trending-list a {
    color: 69c9e3;
}